body {
    background-color: beige;
}
h1{
    color: mediumspringgreen;
    font-size: 36px;
    text-align: center;
    border-right-style: solid;
    border-left-style: solid;
    border-color: forestgreen;
    background-color: forestgreen;
    font-family: sans-serif; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height:100%;
    position: fixed;
    overflow: auto;
    background-color: forestgreen;
}
li a{
    display: block;
    color: mediumspringgreen;
    text-align: center;
    text-decoration: none;
    padding: 14px 25px;
    font-family: sans-serif;
    font-size: 24px;
}
li a:hover{
    background-color: mediumspringgreen;
    color: forestgreen;
}
@media screen and (max-width: 900px){
    ul{
        width: 100%;
        height: auto;
        position: relative;
    }
}
p{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}
img {
    border-radius: 8px;
    max-width: 70%; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}